.DS_Store
.vscode


.git

.venv
venv


source/
model_result/

__pycache__/

**/__pycache__/

rnn_test_*.mat
test_sample_source1.mat
train_sample_source1.mat

output.log
outputs_*.log
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*

train_sample_*
test_sample_*


*.pyc